aenum==3.1.8
affine==2.3.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs==21.4.0
backcall==0.2.0
bleach==4.1.0
bolt-python==0.7.1
boto==2.49.0
boto3==1.21.3
botocore==1.24.3
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
click-plugins==1.1.1
cligj==0.7.2
cycler==0.11.0
dataclasses-json==0.5.6
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
descartes==1.1.0
entrypoints==0.4
eo-learn==1.0.0
eo-learn-core==1.0.0
eo-learn-coregistration==1.0.0
eo-learn-features==1.0.0
eo-learn-geometry==1.0.0
eo-learn-io==1.0.0
eo-learn-mask==1.0.0
eo-learn-ml-tools==1.0.0
eo-learn-visualization==1.0.0
fiona==1.8.21
fonttools==4.29.1
fs==2.4.15
fs-s3fs==1.1.1
geopandas==0.10.2
htmlmin==0.1.12
idna==3.3
imagehash==4.2.1
imageio==2.16.0
importlib-metadata==4.11.1
importlib-resources==5.4.0
ipykernel==6.9.1
ipython==7.31.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.1
jinja2==3.0.3
jmespath==0.10.0
joblib==1.0.1
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
lightgbm==3.3.2
llvmlite==0.38.0
markupsafe==2.0.1
marshmallow==3.14.1
marshmallow-enum==1.5.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
missingno==0.5.0
mistune==0.8.4
multimethod==1.7
munch==2.5.0
mypy-extensions==0.4.3
nbclient==0.5.11
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.6.3
notebook==6.4.8
numba==0.55.1
numpy==1.21.5
oauthlib==3.2.0
opencv-contrib-python-headless==4.5.5.62
packaging==21.3
pandas==1.3.5
pandas-profiling==3.1.0
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
phik==0.12.0
pickleshare==0.7.5
pillow==8.4.0
prometheus-client==0.13.1
prompt-toolkit==3.0.28
ptyprocess==0.7.0
pycparser==2.21
pydantic==1.9.0
pydot==1.4.2
pygments==2.11.2
pyparsing==3.0.7
pyproj==3.2.1
pyrsistent==0.18.1
python-dateutil==2.8.2
python-graphviz==0.19.1
pytz==2021.3
pywavelets==1.2.0
pyyaml==6.0
pyzmq==22.3.0
rasterio==1.2.10
requests==2.27.1
requests-oauthlib==1.3.1
rtree==0.9.7
s3transfer==0.5.1
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
send2trash==1.8.0
sentinelhub==3.4.4
shapely==1.8.1.post1
snuggs==1.4.7
tangled-up-in-unicode==0.1.0
terminado==0.13.1
testpath==0.5.0
threadpoolctl==3.1.0
thunder-python==1.4.2
thunder-registration==1.0.1
tifffile==2021.11.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing-extensions==4.1.1
typing-inspect==0.7.1
urllib3==1.26.8
utm==0.7.0
visions==0.7.4
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.2
zipp==3.7.0