[flake8]
ignore = E203, W503, W501
exclude = .git, __pycache__, ./land-cover-fastai/deep_lulc_walkthrough.ipynb, ./super-resolution-fastai/Train.ipynb
max-line-length= 120
max-complexity = 13
per-file-ignores =
    # imported but unused
    __init__.py: F401
