**/cache
*/cache
**/data
*/data
**/results
*/results
**/runs
*/runs
data/*
**/__pycache__/

**/execution_reports
**/eoexecution-report*
**/*.egg-info
**/.ipynb_checkpoints/

**/*.tif
**/*.tiff
**/*.safe
**/*.SAFE
**/*.dill
**/*.tar
**/credentials.txt
**/credentials
**/credentials*

