**/cache
*/cache
**/data
*/data
**/results
*/results
**/runs
*/runs
data/*
__pycache__/

**/eoexecution-report*
*.tif
*.tiff
*.dill
*.tar

**/*.tif
**/*.tiff
**/*.safe
**/*.SAFE
**/*.dill
**/*.tar
**/credentials.txt
**/credentials
**/credentials*

