absl-py==1.2.0
accumulation-tree==0.6.2
aenum==3.1.11
affine==2.3.1
aiofiles==0.8.0
aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
boto3==1.24.75
botocore==1.27.75
branca==0.5.0
cachetools==5.2.0
captum==0.5.0
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.5
contourpy==1.0.5
cycler==0.11.0
dataclasses-json==0.5.7
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.5.1
efficientnet-pytorch==0.7.1
entrypoints==0.4
eo-learn==1.3.1
eo-learn-core==1.3.1
eo-learn-coregistration==1.3.1
eo-learn-features==1.3.1
eo-learn-geometry==1.3.1
eo-learn-io==1.3.1
eo-learn-mask==1.3.1
eo-learn-ml-tools==1.3.1
eo-learn-visualization==1.3.1
executing==1.0.0
fastjsonschema==2.16.1
ffmpeg==1.4
folium==0.12.1.post1
fonttools==4.37.2
frozenlist==1.3.1
fs==2.4.16
fs-s3fs==1.1.1
geopandas==0.11.1
google-auth==2.12.0
google-auth-oauthlib==0.4.6
graphviz==0.20.1
grpcio==1.49.1
idna==3.4
imageio==2.21.3
importlib-metadata==4.12.0
importlib-resources==5.9.0
ipykernel==6.15.3
ipython==8.5.0
ipython-genutils==0.2.0
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.16.0
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
kiwisolver==1.4.4
lightgbm==3.3.2
llvmlite==0.39.1
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.1.1
marshmallow==3.18.0
marshmallow-enum==1.5.1
matplotlib==3.6.0
matplotlib-inline==0.1.6
meteoblue-dataset-sdk==1.2.2
mistune==2.0.4
multidict==6.0.2
multiprocessing-on-dill==3.5.0a4
munch==2.5.0
mypy-extensions==0.4.3
natsort==8.2.0
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.5.0
nest-asyncio==1.5.5
networkx==2.8.6
notebook==6.4.12
numba==0.56.2
numpy==1.23.3
oauthlib==3.2.1
opencv-contrib-python-headless==4.6.0.66
packaging==21.3
pandas==1.4.4
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
pretrainedmodels==0.7.4
progressbar==2.5
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==3.19.6
psutil==5.9.2
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydot==1.4.2
Pygments==2.13.0
pyparsing==3.0.9
pyproj==3.4.0
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.2.1
pyudorandom==1.0.0
PyWavelets==1.4.1
pywin32==304
pywinpty==2.0.8
PyYAML==6.0
pyzmq==24.0.0
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
Rtree==1.0.0
s3transfer==0.6.0
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.9.1
segmentation-models-pytorch==0.3.0
Send2Trash==1.8.0
sentinelhub==3.8.1
six==1.16.0
snuggs==1.4.7
soupsieve==2.3.2.post1
stack-data==0.5.0
tblib==1.7.0
tdigest==0.5.2.2
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
terminado==0.15.0
threadpoolctl==3.1.0
tifffile==2022.8.12
timm==0.4.12
tinycss2==1.1.1
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchvision==0.13.1+cu113
tornado==6.2
tqdm==4.64.1
traitlets==5.4.0
typing-inspect==0.8.0
typing_extensions==4.3.0
urllib3==1.26.12
utm==0.7.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.2
wincertstore==0.2
yarl==1.8.1
zipp==3.8.1
